
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 70% 98%;
    --foreground: 142 76% 10%;

    --card: 0 0% 100%;
    --card-foreground: 142 76% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 142 76% 10%;

    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 100%;

    --secondary: 143 55% 60%;
    --secondary-foreground: 355 100% 100%;

    --muted: 150 40% 96%;
    --muted-foreground: 142 10% 40%;

    --accent: 150 55% 70%;
    --accent-foreground: 142 76% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 142 20% 85%;
    --input: 142 20% 85%;
    --ring: 142 76% 36%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 142 76% 9%;
    --foreground: 150 10% 90%;

    --card: 142 76% 10%;
    --card-foreground: 150 10% 90%;

    --popover: 142 76% 10%;
    --popover-foreground: 150 10% 90%;

    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 100%;

    --secondary: 143 55% 30%;
    --secondary-foreground: 150 10% 90%;

    --muted: 142 30% 20%;
    --muted-foreground: 150 10% 70%;

    --accent: 142 30% 25%;
    --accent-foreground: 150 10% 90%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 150 10% 90%;

    --border: 142 30% 30%;
    --input: 142 30% 30%;
    --ring: 142 76% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
